@use "../base";

.data-feed__table {
    display: block;
    position: relative;
    overflow-y: auto;
    height: 33vh;
    background-color: base.$dark;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: -0.025rem;
    scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;
    list-style: square;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-right: 5rem;
    border-spacing: 1rem 0.2rem;


    td {
        vertical-align: top;
        width: min-content;
        position: relative;
    }

    .time-stop-data-feed {
        color: base.$green;
        display: inline-block;
    }

    .terminal-square {
        position: relative;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        background: base.$green;
    }

    .terminal-location {
        text-transform: uppercase;
        margin: 20px;
    }
}

.glitch-wrapper {
    position: relative;
    scroll-snap-align: center;
    font-family: monospace;
    counter-increment: items 1;
    color: base.$green;

    .glitch {
        font-family: "NeueHaasDisplay-Bold";
        color: base.$green;

        &,
        * {
            animation: glitch 30s infinite steps(base.$steps);
        }
    }
}