@use "../base";
@use 'sass:math';
@use 'sass:list';

// // DATA FEED
a,
span {
    font-size: 12px;
    line-height: 12px;
}

span.time-stop-data-feed {
    color: base.$green;
    padding-right: 1rem;
    display: inline-block;
}

ul.text-feed__container {
    background-color: base.$dark;
    height: base.$bottom-row-height;
    overflow: auto;
    scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;
    list-style: square;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.glitch-wrapper {
    position: relative;
    scroll-snap-align: center;
    font-family: monospace;
    counter-increment: items 1;
    display: flex;
    padding-right: 5rem;
    color: base.$green;
    $steps: 50;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        margin-left: -23px;
        width: 7px;
        height: 7px;
        background: base.$green;
    }

    .glitch {
        font-family: "NeueHaasDisplay-Bold";
        color: base.$green;
        display: inline;

        &,
        * {
            animation: glitch 30s infinite steps($steps);
        }
    }

    @keyframes glitch {
        @for $i from 1 to $steps {
            $per: math.div(100%, $steps) * $i;
            $weight: (
                100,
                200,
                300,
                400,
                500,
                600,
                700
            );
        $style: (
            normal,
            italic,
            normal,
            normal
        );
    $decor: (
        none,
        none,
        lowercase,
        underline,
        none,
        none,
        none
    );
$trans: (
    none,
    none,
    uppercase,
    lowercase,
    capitalize,
    none,
    none,
    none,
    none,
    none,
    none
);

$arrayW: math.random(7);
$arrayS: math.random(4);
$arrayD: math.random(7);
$arrayT: math.random(11);

#{$per} {
    font-weight: list.nth($weight, $arrayW);
    font-style: list.nth($style, $arrayS);
    text-decoration: list.nth($decor, $arrayD);
    text-transform: list.nth($trans, $arrayT);
}
}
}
}