@use "../base";

.mux__container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate(50%, 50%) scale(200%);

    &.position-1 {
        transform: translate(-50%, 50%) scale(200%);
    }

    &.position-2 {
        transform: translate(50%, -50%) scale(200%);
    }

    &.position-3 {
        transform: translate(-50%, -50%) scale(200%);
    }

    @include base.lg {
        transform: unset;

        &.position-1,
        &.position-2,
        &.position-3 {
            transform: unset;
        }
    }
}

#mux-player {
    height: 100%;
    --media-object-fit: cover;
    --media-object-position: center;
    --controls: none;
}

.mux-error__cover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: base.$dark;
    top: 0;
    left: 0;

    &.visible {
        display: block;
    }
}

.mux-subdivide-screen__container {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .grid-screen-area__container {
        border-style: solid;
        border-color: base.$light;
        border-width: 0px;
        display: flex;
        align-items: flex-end;

        @include base.lg {
            &.right {
                border-right-width: 1px;
            }

            &.left {
                border-left-width: 1px;
            }

            &.top {
                border-top-width: 1px;
            }

            &.bottom {
                border-bottom-width: 1px;
            }
        }

    }

    .live-stream-label {
        background-color: base.$pale-blue;
        width: 100%;
        color: base.$light;
        font-family: base.$font;
        height: 0.5rem;
        line-height: 0.6rem;
        font-size: 0.5rem;
        overflow: hidden;

        @include base.lg {
            font-size: 1rem;
            height: 1rem;
            line-height: 1.2rem;

        }
    }
}