@use "../base";

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

.date-time__wrapper {
    line-height: 0.75rem;
}

.terminal-right__container {
    height: 100%;
    position: relative;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: -0.025rem;
    width: 100%;

    .margin {
        margin-bottom: 1rem;
    }
}

.act__wrapper {
    position: absolute;
    height: 100%;
    width: 20%;
    border: 1px solid base.$green;

    .act-inner__wrapper {
        position: absolute;
        width: 100%;

        span {
            word-break: break-all;
        }
    }
}

.terminal-right-inner__container {
    padding: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c";
}

.geo-data__container {
    line-height: 1rem;
    color: base.$green;
    letter-spacing: -0.05rem;

}

.green-bg {
    background-color: base.$green;
    color: base.$dark;
}

.weather,
.location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: flex-end;
    justify-self: flex-end;
    width: 100%;
    font-size: 0.75rem;
    line-height: 0.575rem;
}

.weather {
    animation: glitch-in 0.5s 3;
}

.location {
    animation: glitch-in 0.3s 3 0.75s;

    div {
        height: fit-content;
    }
}

#current-date,
#current-time {
    vertical-align: top;
    font-size: 1.25rem;
    line-height: 1rem;
}

.date-time {
    display: grid;
    grid-column: 1fr;
    line-height: 0.5rem;
}

address {
    font-style: normal;
}

.nested-table {
    width: 100%;
}

.event-track {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 2% 5% 2% 5% 34% 7%;
    // justify-items: center;
    gap: 1%;
}

.location-table__track {
    display: grid;
    grid-template-columns: 100px 10fr;

    td {
        position: relative;
    }
}

.event-name {
    width: 100%;
}

#acts-table-body {
    display: grid;
    gap: 0.5rem;
}

.acts-table {
    color: base.$green;
    width: 100%;
    animation: glitch-in 0.29s 3 0.1s;


    tbody {
        width: 100%;
        display: grid;
        gap: 0.15rem;
    }

    .loading-bar__wrapper {
        width: 100%;
        position: relative;


        div {
            height: 0.75rem;
            width: 0%;
            transition: width 0.1s;
        }
    }

    .performer-with-act {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.right-terminal__footer {
    position: relative;
    display: grid;
    height: 3rem;
    grid-template-columns: 1fr 1fr 2fr 4fr;
    gap: 1rem;
    align-items: flex-end;

    img {
        height: inherit;
        color: base.$green;
        text-transform: uppercase;
        animation: glitch-in 0.5s 3;
    }

    .event-progress-text {
        position: relative;
        color: base.$green;
        font-size: 1.5rem;
        line-height: 1rem;
    }
}

#event-progress-bar {
    height: 1.5rem;
    position: relative;
    top: -0.1rem;
    width: 0%;
    transition: width 0.1s;
}