@use "../base";

.top-right__container {
    background-color: base.$light;
    height: 100%;
    position: relative;
    padding: 0.5rem 0.1rem;
    overflow: hidden;
}

.inner__container {
    height: 100%;
}

.banner__container {
    // background-color: base.$blue;
    position: relative;
    visibility: hidden;

    &.visible {
        visibility: visible;
    }

    position: relative;

    .paragraph__wrapper {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;

        @include base.lg {
            padding-right: 3rem;
            position: absolute;
        }

        @include base.xl {
            padding-right: 4rem;
        }

        @include base.xxl {
            padding-right: 5rem;
        }
    }
}

.paragraph-text {
    line-height: 0.5rem;
    letter-spacing: -0.05rem;
    font-size: 0.6rem;

    @include base.sm {
        line-height: 0.7rem;
        letter-spacing: -0.06rem;
        font-size: 0.8rem;
    }

    @include base.md {
        line-height: 0.8rem;
        letter-spacing: -0.07rem;
        font-size: 0.9rem;
    }

    @include base.lg {
        line-height: 0.9rem;
        letter-spacing: -0.075rem;
        font-size: 1rem;
    }

    @include base.xl {
        line-height: 1rem;
        letter-spacing: -0.085rem;
        font-size: 1.1rem;
    }

    @include base.xxl {
        line-height: 1rem;
        letter-spacing: -0.09rem;
        font-size: 1.2rem;
    }
}

.top__banner {
    position: relative;
    width: 100%;
    @include base.glitch-in;
    animation: glitch-in 0.35s 2;
    transform-origin: top left;
    display: grid;
    grid-template-areas:
        "a b"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    @include base.lg {
        grid-template-areas:
            "a b"
            "c c"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .large-text__container {
        grid-area: a;
    }

    .paragraph__wrapper {
        grid-area: b;

        @include base.lg {
            grid-area: a;
            grid-column-end: b;
        }
    }

    .event-time-stamps__wrapper {
        grid-area: a;
        align-self: flex-end;

        @include base.lg {
            grid-area: c;
        }
    }
}

.green-banner__container {
    position: relative;
    display: flex;
    background-color: base.$green;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 1rem;

    @include base.lg {
        width: fit-content;
        min-width: 90%;
        padding-right: 5rem;
    }

    .live-now {
        font-size: 1rem;
        line-height: 0.8rem;

        @include base.lg {
            font-size: 2rem;
            line-height: 1.75rem;
            margin-top: 0.1rem;
        }

    }

    span {
        font-size: 0.5rem;
        line-height: 0.4rem;

        @include base.lg {
            font-size: 0.8rem;
            line-height: 0.7rem;
        }
    }

    .grey-text {
        // margin-top: 0.3rem;
        font-size: 0.85rem;
        line-height: 0.65rem;
        letter-spacing: -0.0.75rem;
        color: base.$light;

        @include base.lg {
            font-size: 1.75rem;
            line-height: 1.25rem;
            letter-spacing: -0.1rem;
        }
    }

    .grey-text__container {
        padding: 0 0.5rem;
        display: flex;

        @include base.lg {
            padding: 0 2rem;

        }
    }
}

.event-time-stamps__wrapper {
    position: relative;
    grid-area: a;
}

.event-time-stamps__container {
    position: relative;

    .paragraph-text {
        top: -0.5rem;
        position: absolute;

        @include base.lg {
            top: -1rem;
        }
    }

    img {
        display: none;

        @include base.lg {
            width: 1.5rem;
            z-index: 1;
            margin: 0.25rem;
            display: block;
        }

    }

    span {
        font-size: 0.6rem;
        line-height: 0.5rem;
        height: min-content;

        @include base.lg {
            font-size: 0.8rem;
            line-height: 0.75rem;
        }
    }
}

.map__container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 0%;
    }

    @include base.lg {
        padding: 1rem;
    }
}

.warp-logo-dark__wrapper {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    @include base.lg {
        display: block;
    }
}

.warp-logo-dark__container {
    position: relative;
    padding: 50% 0;
    height: 0;
    z-index: 1;
    @include base.glitch-in;
    animation: glitch-in 0.25s 2;
    transform-origin: top left;
}

.warp-logo-dark {
    // top: 0;
    // width: 10rem;
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
    transform: rotate(-90deg) translate(-100%, 85%);
    /* transform: rotate(90deg) translate(0, -100%); */
    margin-top: -50%;
    height: 3rem;

    @include base.xl {
        height: 4rem;
    }
}


.live-now__container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    overflow-y: auto;

    @include base.lg {
        top: unset;
    }

    &.visible {
        visibility: visible;

        #current-live-act-name {
            animation: glitch-in 0.45s 2;
        }

        #current-live-act-description {
            animation: glitch-in 0.37s 2;
        }

        #current-live-performer-description {
            animation: glitch-in 0.23s 2;
        }

        #current-live-act-end-time {
            animation: glitch-in 0.29s 2;
        }

        #current-live-act-start-time {
            animation: glitch-in 0.30s 2;
        }

        #current-live-act {
            animation: glitch-in 0.35s 2;
        }

        .text-inverted__container {
            animation: glitch-in 0.36s 2;
        }

        .green-banner__container {
            animation: glitch-in 0.28s 2;
        }
    }
}

.current-act__container {
    display: grid;
    grid-template-columns: fit-content(8ch) 1fr;

    @include base.lg {
        margin-right: 3rem;
    }

    .performer-description__container {
        position: absolute;
        width: 70%;
        bottom: 0;
        line-height: 0.9rem;
        display: none;

        @include base.lg {
            display: block;
        }
    }
}

.text-inverted__container {
    background-color: base.$blue;
    position: relative;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: fit-content;
    font-family: base.$font;
    color: base.$light;

    &.performer-name {
        width: min-content;
        max-width: 15rem;

        @include base.lg {
            max-width: 20rem;
        }
    }

    .act-description {
        white-space: normal;
        width: auto;
    }

    .large-text-inverted {
        line-height: 1.9rem;
        letter-spacing: -0.15rem;
        font-size: 2.5rem;
        margin-bottom: -0.2rem;
        max-width: 20rem;
        word-wrap: break-word;

        @include base.md {
            line-height: 2.75rem;
            letter-spacing: -0.25rem;
            font-size: 3rem;
        }

        @include base.lg {
            font-size: 4rem;
            line-height: 3.25rem;
            letter-spacing: -0.25rem;
            margin-top: 0.4rem;
        }
    }

    p {
        line-height: 0.75rem;
        letter-spacing: -0.01rem;
        font-size: 0.8rem;

        @include base.sm {
            line-height: 0.85rem;
            letter-spacing: -0.01rem;
            font-size: 1rem;
        }

        @include base.md {
            line-height: 1rem;
            letter-spacing: -0.05rem;
            font-size: 1.25rem;
        }

        @include base.lg {
            font-size: 1.75rem;
            line-height: 1.45rem;
            letter-spacing: -0.1rem;
        }
    }
}

.large-text {
    color: base.$blue;

    transform-origin: top left;
    @include base.glitch-in;
    animation: glitch-in 0.5s 2;

    line-height: 1.35rem;
    letter-spacing: -0.15rem;
    font-size: 1.5rem;

    @include base.sm {
        line-height: 1.5rem;
        letter-spacing: -0.15rem;
        font-size: 2rem;
    }

    @include base.md {
        line-height: 2rem;
        letter-spacing: -0.25rem;
        font-size: 2.5rem;
    }

    @include base.lg {
        font-size: 3rem;
        line-height: 2.5rem;
        letter-spacing: -0.25rem;
    }
}

.color-squares__container {
    margin-top: 0.4rem;
    position: absolute;
    z-index: 0;
    display: none;

    @include base.lg {
        display: block;
    }

    &.left {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.right {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.square {
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    position: relative;

    @include base.lg {
        width: 1rem;
        height: 1rem;
    }

    &.blue {
        background-color: base.$blue;
    }

    &.dark {
        background-color: base.$dark;
    }

    &.green {
        background-color: base.$green;
    }

    &.pale-blue {
        background-color: base.$pale-blue;
    }
}