@use "../base";

.top-right__container {
    background-color: base.$light;
    height: 100%;
    position: relative;
    padding: 0.5rem 0.1rem;
    overflow: hidden;
}

.inner__container {
    height: 100%;
}

.banner__container {
    // background-color: base.$blue;
    position: relative;

    .paragraph__wrapper {
        padding-right: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        @include base.xl {
            padding-right: 4rem;
        }

        @include base.xxl {
            padding-right: 5rem;
        }


    }
}

.paragraph-text {
    line-height: 0.6rem;
    letter-spacing: -0.05rem;
    font-size: 0.7rem;

    @include base.sm {
        line-height: 0.7rem;
        letter-spacing: -0.06rem;
        font-size: 0.8rem;
    }

    @include base.md {
        line-height: 0.8rem;
        letter-spacing: -0.07rem;
        font-size: 0.9rem;
    }

    @include base.lg {
        line-height: 0.9rem;
        letter-spacing: -0.075rem;
        font-size: 1rem;
    }

    @include base.xl {
        line-height: 1rem;
        letter-spacing: -0.085rem;
        font-size: 1.1rem;
    }

    @include base.xxl {
        line-height: 1rem;
        letter-spacing: -0.09rem;
        font-size: 1.2rem;
    }
}

.top__banner {
    position: relative;
    width: 100%;
    @include base.glitch-in;
    animation: glitch-in 0.35s 2;
    transform-origin: top left;
}

.green-banner__container {
    position: relative;
    display: flex;
    background-color: base.$green;
    filter: blur(0.5px);
    padding-right: 5rem;
    width: fit-content;
    align-items: flex-end;

    .live-now {
        font-size: 2rem;
        line-height: 1.75rem;
    }

    span {
        font-size: 0.8rem;
        line-height: 0.7rem;
    }

    .grey-text {
        margin-top: 0.3rem;
        font-size: 1.75rem;
        line-height: 1.25rem;
        color: base.$light;
    }

    .grey-text__container {
        padding: 0 2rem;
    }
}

.event-time-stamps__wrapper {
    position: relative;
}

.event-time-stamps__container {
    position: relative;

    span {
        line-height: 0.9rem;
    }
}

.map__container {
    margin: 6% 9%;
    height: 67%;
    top: 0;
    left: 0;
    width: 82%;
    position: absolute;
}

.warp-logo-dark__wrapper {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
}

.warp-logo-dark__container {
    position: relative;
    padding: 50% 0;
    height: 0;
    z-index: 1;
    @include base.glitch-in;
    animation: glitch-in 0.25s 2;
    transform-origin: top left;
}

.warp-logo-dark {
    // top: 0;
    // width: 10rem;
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
    transform: rotate(-90deg) translate(-100%, 85%);
    /* transform: rotate(90deg) translate(0, -100%); */
    margin-top: -50%;
    height: 3rem;

    @include base.xl {
        height: 4rem;
    }
}


.live-now__container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.current-act__container {
    display: flex;
    margin-right: 3rem;

    .performer-description__container {
        position: absolute;
        width: 70%;
        bottom: 0;
        line-height: 0.9rem;
    }
}

.text-inverted__container {
    background-color: base.$blue;
    width: fit-content;
    position: relative;
    filter: blur(0.5px);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: fit-content;
    font-family: base.$font;
    color: base.$light;

    .large-text-inverted {
        font-size: 4rem;
        line-height: 3.25rem;
        letter-spacing: -0.25rem;
        margin-top: 0.4rem;
        margin-bottom: -0.4rem;
        max-width: 20rem;
    }

    p {
        font-size: 1.75rem;
        line-height: 1.45rem;
        letter-spacing: -0.1rem;
    }
}

.large-text {
    color: base.$blue;
    font-size: 3rem;
    line-height: 2.5rem;
    letter-spacing: -0.25rem;
    transform-origin: top left;
    @include base.glitch-in;
    animation: glitch-in 0.5s 2;
}

.map__container {
    border: 1px solid base.$dark;
}

.color-squares__container {
    margin-top: 0.4rem;
    position: absolute;
    z-index: 0;

    &.left {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.right {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.square {
    width: 1rem;
    height: 1rem;
    background-color: red;
    position: relative;

    &.blue {
        background-color: base.$blue;
    }

    &.dark {
        background-color: base.$dark;
    }

    &.green {
        background-color: base.$green;
    }

    &.pale-blue {
        background-color: base.$pale-blue;
    }
}