@use 'base';
@use "components";
@use "./bootstrap/bootstrap-grid.scss";
@use 'sass:math';

* {
    font-family: base.$font;
}

.top-row__container {
    height: base.$top-row-height;
}

.bottom-row__container {
    height: base.$bottom-row-height;
    overflow: hidden;
}