@use 'base';
@use "components";
@use "./bootstrap/bootstrap-grid.scss";
@use 'sass:math';

:root {
    --real-viewport-height: 100vh;
    --real-viewport-height: 100svh;
}

* {
    font-family: base.$font;

    /* width */
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: base.$green;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: base.$green;
    }
}

html {
    background-color: base.$light;
    height: var(--real-viewport-height);
    transition: height 0.1s;
    overflow: hidden;
}

body {
    height: var(--real-viewport-height);
    position: relative;
}

.top__wrapper,
.bottom__wrapper {
    width: 100%;
    display: grid;
    transition: height 0.1s;

    @include base.lg {
        padding: unset;
        grid-template-columns: 50% 50%;
    }
}

.bottom__wrapper {
    position: fixed;
    bottom: 0;
    height: 50%;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
        "d"
        "e"
    ;

    @include base.lg {
        height: 40%;
        grid-template-rows: 1fr;
        grid-template-areas:
            "c d"
        ;
    }
}

.top__wrapper {
    position: fixed;
    top: 0;
    height: 50%;
    grid-template-rows: min-content 2fr 1fr;
    grid-template-areas: "a"
        "b"
        "c"
    ;

    @include base.lg {
        height: 60%;
        grid-template-rows: 1fr;
        grid-template-areas:
            "a b"
        ;
    }
}

.top-left__container {
    grid-area: b;
    margin: 0 0.3rem;
    overflow: hidden;
    position: relative;


    @include base.lg {
        grid-area: a;
        margin: unset;
    }
}

.banner__container {
    grid-area: a;
    margin: 0 0.3rem 0.2rem 0.3rem;

    @include base.lg {
        margin: unset;
    }

}

.top-right__container {
    grid-area: c;
    margin: 0 0.3rem;

    @include base.lg {
        grid-area: b;
        margin: unset;
    }
}

.terminal-left__container {
    grid-area: e;
    background-color: base.$dark;
    overflow: hidden;
    position: relative;

    @include base.lg {
        grid-area: c;
    }
}

#current-live-act-logo {
    visibility: hidden;
}

.terminal-right__wrapper {
    overflow-y: auto;
    background-color: base.$dark;
    grid-area: d;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox, Safari 18.2+, Chromium 121+ */

    &::-webkit-scrollbar {
        display: none;
        /* Older Safari and Chromium */

    }
}

.cross {
    width: 0.7rem;
    margin: 0.25rem;
    display: none;

    @include base.lg {
        width: 1rem;
        margin: 0.25rem;
        display: block;
    }

    &.mobile-visible {
        display: block;
    }

    &.center {
        transform: translate(0, -50%);
    }

    &.absolute {
        position: absolute;
    }
}

.uppercase {
    text-transform: uppercase;
}

.mobile-no-display {
    display: none;

    @include base.lg {
        display: block;
    }
}

.mobile-only-display {
    display: block;

    @include base.lg {
        display: none;
    }
}