@use 'base';
@use "components";
@use "./bootstrap/bootstrap-grid.scss";
@use 'sass:math';

* {
    font-family: base.$font;
}

.top-row__container {
    height: base.$top-row-height;
}

.bottom-row__container {
    height: base.$bottom-row-height;
    overflow: hidden;
}

.cross {
    width: 1.5rem;
    margin: 0.25rem;

    &.center {
        transform: translate(0, -50%);
    }

    &.absolute {
        position: absolute;
    }
}