$screen-xs-min: 268px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;
$screen-xxxl-min: 1800px;
$screen-xxxxl-min: 2200px;

$screen-height-xs-min: 268px;
$screen-height-sm-min: 576px;
$screen-height-md-min: 768px;
$screen-height-lg-min: 992px;
$screen-height-xl-min: 1200px;
$screen-height-xxl-min: 1400px;