@use "./_breakpoints.module" as *;

@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;

    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
}

@mixin xxxl {
    @media (min-width: #{$screen-xxxl-min}) {
        @content;
    }
}

@mixin xxxxl {
    @media (min-width: #{$screen-xxxxl-min}) {
        @content;
    }
}

@mixin h-xl {
    @media (min-height: #{$screen-height-xl-min}) {
        @content;
    }
}

@mixin h-lg {
    @media (min-height: #{$screen-height-lg-min}) {
        @content;
    }
}

@mixin terminal-text {


    @include lg {
        font-size: 0.55rem;
        line-height: 0.5rem;
    }

    @include xl {
        font-size: 0.75rem;
        line-height: 0.65rem;
    }

    @include xl {
        font-size: 0.75rem;
        line-height: 0.65rem;
    }

    @include h-lg {
        font-size: 1rem;
        line-height: 0.9rem;
    }

    @include h-xl {
        font-size: 1.25rem;
        line-height: 1.1rem;
    }
}